.navbar {
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1100px;
  padding: 14px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 999;
  background: rgba(10,10,10,0.65);
  backdrop-filter: blur(16px);
  border: 1px solid #222;
  border-radius: 999px;
}

.logo {
  margin: 0;
  letter-spacing: 2px;
}

.nav-links {
  display: flex;
  gap: 24px;
  align-items: center;
}

.nav-links a {
  color: #aaa;
  text-decoration: none;
  font-size: 14px;
}

.audit-btn {
  background: white;
  color: black !important;
  padding: 10px 16px;
  border-radius: 999px;
  font-weight: bold;
  font-size: 13px !important;
}

#menu-toggle,
.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    width: 88%;
    border-radius: 28px;
  }

  .hamburger {
    display: block;
    font-size: 28px;
    cursor: pointer;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    background: #0b0b0b;
    border: 1px solid #222;
    border-radius: 24px;
    padding: 24px;
    flex-direction: column;
    gap: 18px;
    text-align: center;
  }

  #menu-toggle:checked ~ .nav-links {
    display: flex;
  }
}