@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #000;
  color: white;
  font-family: Arial, sans-serif;
}

section {
  background: #000;
}

button {
  transition: 0.3s ease;
}

button:hover {
  transform: translateY(-2px);
}